/**
* css reset
**/
html,
body,
div,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
dl,
li,
dt,
dd,
p,
blockquote,
pre,
form,
fieldset,
table,
th,
td,
map {
  margin: 0;
  padding: 0;
  overflow: hidden;
}
* html,
* html body {
  background-image: url(about:blank);
  background-attachment: fixed;
}
ul,
ol,
dl,
li {
  list-style: none;
}
pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}
h3 {
  _zoom: 1;
}
input,
textarea {
  resize: none;
  outline: none;
  font-family: Arial;
  word-wrap: break-word;
}
fieldset,
img {
  border: 0;
}
legend {
  display: none;
}
em {
  font-style: normal;
}
html {
  _overflow-x: hidden;
}
body {
  font-size: 12px;
  font-family: Arial;
  color: #3e454d;
  overflow: auto;
}
html,
body,
#m1,
#m2 {
  height: 100%;
}
.clear_f {
  clear: both;
  overflow: hidden;
  height: 0px;
}
#m2__pnl {
  margin: 1px auto;
  height: 90%;
  overflow: hidden;
  border: 1px solid #000;
}
#m2__pnl #m2__input {
  border-left: 1px solid #ccc;
}
#m1__spy {
  position: absolute;
  text-align: center;
  right: 0;
  top: 50px;
  z-index: 2;
  width: 36px;
  background: #3e454d;
  color: #fff;
  padding: 5px 10px;
  overflow: hidden;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
}
#m1__spy textarea {
  display: none;
  width: 100%;
  height: 200px;
  margin: auto;
}
#m1__spy p {
  padding: 2px;
}
#m1__spy:hover {
  width: 40%;
}
#m1__spy:hover textarea {
  display: block;
}
#m2__showMain {
  float: right;
}
.proxy_info_wrapper {
  line-height: 36px;
  padding-left: 20px;
  background: #3e454d;
  color: #fff;
  font-size: 14px;
}
.proxy_info_wrapper span,
.proxy_info_wrapper input[type=text],
.proxy_info_wrapper input[type=number] {
  margin-right: 10px;
  margin-left: 6px;
}
.proxy_info_wrapper #clear_btn {
  background: #ff7d7e;
  color: #fff;
  border: none;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  cursor: pointer;
}
.proxy_info_wrapper #clear_btn:active {
  background: #fd6566;
}
.proxy_info_wrapper #port {
  width: 48px;
  text-align: center;
}
.proxy_info_wrapper #url_filter {
  width: 300px;
}
.proxy_btn_wrapper {
  padding: 10px 20px;
}
.proxy_btn_wrapper input[type=button] {
  width: 60px;
  margin-right: 10px;
  background: #5e6771;
  border: none;
  padding: 5px;
  color: #fff;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  cursor: pointer;
}
.proxy_btn_wrapper input[type=button]:active {
  background: #3e454d;
}
.proxy_btn_wrapper input[type=button]#start {
  background: #00aeef;
}
.proxy_btn_wrapper input[type=button]#start:active {
  background: #2483cb;
}
.proxy_btn_wrapper input[type=button]#stop {
  background: #ff7d7e;
}
.proxy_btn_wrapper input[type=button]#stop:active {
  background: #fd6566;
}
.proxy_btn_wrapper input[type=button].disabled {
  background: #ccc!important;
  cursor: default;
}
#url {
  line-height: 18px;
  overflow: auto;
  word-break: break-all;
  height: 100%;
}
#url li {
  cursor: pointer;
}
.top_w {
  height: 82px;
  transition: height 0.5s;
  -webkit-transition: height 0.5s;
}
.mid_w {
  height: 200px;
  min-height: 100px;
  border: 1px solid #3e454d;
  margin: 0 10px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  padding-left: 10px;
  transition: height 0.5s;
  -webkit-transition: height 0.5s;
}
.bottom_w {
  height: 305px;
  margin: 0 10px;
  transition: height 0.5s;
  -webkit-transition: height 0.5s;
  position: relative;
}
#detail {
  -webkit-border-radius: 2px;
  border-radius: 2px;
  margin-top: 5px;
}
#detail .content_w {
  height: 268px;
  border: 1px solid #3e454d;
  padding: 5px;
  margin-bottom: -1px;
  overflow: auto;
  transition: height 0.5s;
  -webkit-transition: height 0.5s;
}
#detail span.b {
  line-height: 24px;
  float: left;
  text-align: center;
  padding: 0px 10px;
  margin-right: 2px;
  cursor: pointer;
  background: #ccc;
  -webkit-border-radius: 2px 2px 0 0;
  border-radius: 2px 2px 0 0;
}
#detail span.b.s {
  background: #3e454d!important;
  color: #fff;
}
#detail span.b:hover {
  background: #5e6771;
  color: #fff;
}
#detail .hidePanel,
#detail .adjust {
  float: right;
  margin-right: 10px;
  width: 10px;
  height: 10px;
  border: 1px solid #5e6771;
  margin-top: 6px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
#detail .adjust {
  cursor: n-resize;
  background: #3ac827;
}
#detail .adjust:active {
  border-color: #3e454d;
}
#detail .adjust.extend {
  cursor: s-resize;
}
#detail .hidePanel {
  background: #ea060e;
  cursor: pointer;
}
#dtlPnl {
  line-height: 16px;
}
#dtlPnl h4 {
  word-break: break-all;
}
#dtlPnl table {
  border-collapse: collapse;
}
#dtlPnl td:first-child {
  white-space: nowrap;
  padding-right: 10px;
  vertical-align: top;
}
#dtlPnl .tle {
  font-weight: bolder;
  padding: 10px 0 5px 0;
  font-size: 14px;
}
#dtlPnl .tr_con:hover {
  background: #eee;
}
.eys {
  vertical-align: middle;
  cursor: default;
}
.eys:active {
  opacity: 0.5;
}
.icon {
  width: 16px;
  height: 16px;
  vertical-align: middle;
}
#edit input[type=submit],
#edit .clear_all {
  width: 60px;
  margin-right: 10px;
  background: #5e6771;
  border: none;
  padding: 5px;
  color: #fff;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  cursor: pointer;
}
#edit input[type=submit]:active,
#edit .clear_all:active {
  background: #3e454d;
}
#edit .edit_tip {
  color: #00aeef;
  opacity: 0;
}
#edit .edit_tip.ani {
  animation: edit_tip_a 2s linear 0s 1 normal;
  -webkit-animation: edit_tip_a 2s linear 0s 1 normal;
}
@-webkit-keyframes edit_tip_a {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
#edit .radio_wrapper {
  line-height: 28px;
}
#edit .radio_wrapper label {
  vertical-align: middle;
  margin-right: 10px;
  cursor: pointer;
}
#editCon {
  width: 80%;
  height: 120px;
}
#spy textarea {
  border: none;
}
#spy input[type=button] {
  width: 60px;
  margin-right: 10px;
  background: #5e6771;
  border: none;
  padding: 5px;
  color: #fff;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  cursor: pointer;
}
#spy input[type=button]:active {
  background: #3e454d;
}
.m2__output_wrapper {
  position: fixed;
  width: 100%;
  height: 186px;
  top: 0;
  left: 0;
  z-index: 10;
  background: #3e454d;
  border-bottom: 1px solid #3e454d;
  animation: show_from_top 0.3s ease-out 0s 1 normal;
  -webkit-animation: show_from_top 0.3s ease-out 0s 1 normal;
}
@-webkit-keyframes show_from_top {
  0% {
    top: -188px;
  }
  100% {
    top: 0;
  }
}
#m2__output {
  display: block;
  height: 100%;
  margin: auto;
  width: 90%;
}
