{
  "plugins": [
    [
      "transform-async-to-module-method",
      {
        "module": "bluebird",
        "method": "coroutine"
      }
    ],
    "transform-object-assign",
    "transform-es2015-modules-commonjs",
    "transform-react-display-name",
    "transform-react-jsx",
    "syntax-jsx"
  ]
}
